.form-search {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: -1;
  display: none;
  width: 47.333%;
  margin-left: -23.666%;
  padding: 4.583%;
  font-size: 14px;
  font-weight: bold;
  line-height: 38px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 0 12px #ededed;
}

.form-search__item {
  position: relative;
  padding-bottom: 6.55%;
}

.form-search__item::after {
  content: '';
  display: table;
  clear: both;
}

.form-search__item_quantities {
  float: left;
  width: 50%;
  padding-bottom: 11.79%;
}

.form-search__input {
  float: right;
  width: 75.545%;
  border: none;
  padding: 1.31% 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.form-search__input:hover {
  background-color: #ebebeb;
}

.form-search__input:focus {
  background-color: #fff;
  outline: 2px solid #e5e5e5;
}

.form-search__calendar {
  position: absolute;
  top: 8px;
  right: 9px;
  display: block;
  width: 21px;
  height: 22px;
  background-image: url(../images/icons/calendar.png);
  cursor: pointer;
}

.form-search__calendar:hover {
  background-image: url(../images/icons/calendar-hover.png);
}

.form-search__calendar:active {
  background-image: url(../images/icons/calendar-active.png);
}

.form-seach__input_quantities {
  width: 38px;
}

.form-search__number {
  float: right;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.form-search__number_aligned {
  margin-right: 4px;
}

.form-search__math-sign {
  width: 38px;
  height: 38px;
  background: no-repeat center #f2f2f2;
  cursor: pointer;
}

.form-search__math-sign_minus {
  background-image: url(../images/icons/minus.png);
}

.form-search__math-sign_minus:hover {
  background-image: url(../images/icons/minus-hover.png);
}

.form-search__math-sign_minus:active {
  background-image: url(../images/icons/minus-active.png);
}

.form-search__math-sign_plus {
  background-image: url(../images/icons/plus.png);
}

.form-search__math-sign_plus:hover {
  background-image: url(../images/icons/plus-hover.png);
}

.form-search__math-sign_plus:active {
  background-image: url(../images/icons/plus-active.png);
}

label[for=children] {
  margin-left: 49px;
}

.form-search_visible {
  display: block;
}
