.nav {
  margin: 0;
  padding: 1.5% 0;
  background-color: #fff;
  list-style: none;
}

.nav::after {
  content: '';
  display: table;
  clear: both;
}

.nav__item {
  display: inline-block;
  padding: 0 6%;
}

.nav__item_pull_left {
  float: left;
}

.nav__item_pull_right {
  float: right;
}

.nav__item a:link {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-decoration: none;
}

.nav__item a:visited {
  color: #000;
}

.nav__item a:hover {
  color: #81b3d2;
}

.nav__item a:active {
  color: #000;
  opacity: .3;
}

.nav__item_active a:link {
  color: #766357;
}

.nav__item_active a:visited {
  color: #766357;
}

.nav__item_active a:hover {
  color: #604e43;
}

.nav__item_active a:active {
  color: #766357;
  opacity: .3;
}
